<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>메인화면</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/bootstrap/jumbotron.css" rel="stylesheet">
</head>

<!-- 회원가입 성공 후 main으로 돌아올 경우 알려주고 url 바꿔줌  -->
<%if(register == "success"){%>
    <script>
        alert('회원이 되신 것을 축하드립니다!');    
        location.href='/';
    </script>
<%}
<!-- 로그인된 상태로 main 페이지 돌아올 경우 회원가입 추천 문구 -->
if(logged == false){%>
    <script>
        var rr = document.getElementById('register_recommend');
        rr.innerText = '서비스 이용을 위해 회원가입을 해보세요~';
        location.href='/';
    </script>
<%}
<!--로그인 성공 후 main으로 render할 경우 url 바꿔줌-->
if(login == true){%>
    <script>
        location.href='/';
    </script>
<%}%>

<body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/bootstrap/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>

    <!-- 로그인 했을 때와 안했을 때 header 다름 -->
    <%if(locals.user_id){%>
    <%- include('header_login.ejs')%>
    <%}else{%>
    <%- include('header_logout.ejs')%>
    <%}%>
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-6">헌혈증 기부하자~</h1>
                <p id="register_recommend"></p>
            </div>
        </div>
        
      

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>등록</h2>
                    <p>내가 갖고있는 헌혈증을 등록하여 안전하게 영구적으로 보관할 수 있습니다.</p>
                    <p><a id="blood_reg"class="btn btn-success" href="/blood/blood_register" role="button">헌혈증 등록하러 가기 &raquo;</a></p>
                </div>
                <hr style="width: 0px; height: 50px; border-right: 0px">

                <div class="col-md-4">
                    <h2>기부</h2>
                    <p>내가 등록한 헌혈증을 기부하거나 헌혈증이 필요하면 기부요청글을 올릴 수 있습니다.</p>
                    <p><a class="btn btn-success" href="/blood/blood_donation_main" role="button">기부하러/받으러가기 &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>기부내역</h2>
                    <p>기부한 헌혈증 내역을 확인할 수 있고, 어떻게 사용되었는지 확인할 수 있습니다.</p>
                    <p><a id="blood_history" class="btn btn-success" href="/blood/blood_history" role="button">기부내역 확인하러 가기 &raquo;</a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <h2>
                    <p>기부왕은 누굴까 ㅎㅎ</p>
                </h2>
            </div>
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>기부왕</h2>
                    <ol>
                        <li>안재철(105개, 다이아)</li>
                        <li>b(88개, 플레티넘)</li>
                        <li>c(79개, 플레티넘)</li>
                        <li>d(71개, 골드)</li>
                        <li>e(63개, 골드)</li>
                    </ol>
                </div>

                <div class="col-md-4">
                    <h2>지난달 기부왕</h2>
                    <ol>
                        <li>a(23개)</li>
                        <li>b(21개)</li>
                        <li>c(16개)</li>
                        <li>d(14개)</li>
                        <li>e(13개)</li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <h2>오늘의 기부왕</h2>
                    <ol>
                        <li>a(6개)</li>
                        <li>b(6개)</li>
                        <li>c(5개)</li>
                        <li>d(3개)</li>
                        <li>e(2개)</li>
                    </ol>
                </div>
            </div>
            <hr>
            <div class="row">
                <h2>
                    <p>등록왕은 누굴까 ㅎㅎ</p>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>등록왕</h2>
                    <ol>
                        <li>안재철(105개, 다이아)</li>
                        <li>b(88개, 플레티넘)</li>
                        <li>c(79개, 플레티넘)</li>
                        <li>d(71개, 골드)</li>
                        <li>e(63개, 골드)</li>
                    </ol>
                </div>

                <div class="col-md-4">
                    <h2>지난달 등록왕</h2>
                    <ol>
                        <li>a(23개)</li>
                        <li>b(21개)</li>
                        <li>c(16개)</li>
                        <li>d(14개)</li>
                        <li>e(13개)</li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <h2>오늘의 등록왕</h2>
                    <ol>
                        <li>a(6개)</li>
                        <li>b(6개)</li>
                        <li>c(5개)</li>
                        <li>d(3개)</li>
                        <li>e(2개)</li>
                    </ol>
                </div>
            </div>
        </div> <!-- /container -->
        <hr>
    </main>

    <footer class="container">
        <p>&copy; Company 2017-2019</p>
    </footer>

 

    <%if(!locals.user_id){%>
        <script>    
           $(function () {
                $("#blood_reg, #blood_history, #blood_req")
                    .removeAttr('href')
                    .click(function () { alert('회원만 이용할 수 있습니다. 회원가입을 해주세요!') });
            
        }) 
        </script>
    <%}%>
</body>

</html>